




.stack-cards {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  width: 100%;
}

.stack-cards__item {
  height: 250px;
  padding: 20px;
  background: #0b4550;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.32);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  border: 1px solid black;
  border-radius: 1.5rem;
  transform: translate(-50%, -50%);
  transition: transform 1.3s cubic-bezier(0.9, -0.2, 0.1, 1.2),
    opacity 1.3s cubic-bezier(1, 0, 0, 1) 0s;
  will-change: opacity, transform;
  color: white;
}



.stack-cards__item.slide-up {
  transform: translate(-50%, -260%);
}
